@page { size: A4; margin:0; }


#reference_nr {
  string-set: title content(text);
}

@page {
  margin: 0.5in 0;
}

@page :first {
  margin:  0.5in 0 0 0;
  @bottom-left { content: ''; }
  @bottom-right { content: ''; }
}

.page-break-inside-avoid {
  page-break-inside: avoid;
  break-inside: avoid-page;
}

.page-break-after {
  page-break-after: always;
  break-inside: avoid-page;
  break-after: page;
}
