/* Import external dependencies first  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* Optional tailwind set up */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen {
  [data-uhuu] { @apply cursor-pointer hover:outline outline-[#ff44cc] hover:outline-dashed hover:rounded relative hover:z-10; }
  [data-uhuu]:before {
      content: ' ';
      @apply absolute w-4 h-4 bg-[#ff44cc] rounded-t-full rounded-r-full top-0 ml-1 mt-1 opacity-20 transition;
  }
  [data-uhuu]:hover:before { @apply opacity-100 transition; }
}


.text-sm {
    font-size: .825rem;
    line-height: 1.25rem;
}

@media screen {
  .pagedjs_preview_container { margin: 0 auto; }
  .uhuu-page { opacity: 0; }
  .uhuu-page.rendered { opacity: 1; }

  body { background: transparent; }

  .pagedjs_pages {
       display: flex;
       width: calc(var(--pagedjs-width));
       flex: 0; flex-wrap: wrap;
       margin: 0 auto; justify-content: center;
       background: transparent;
   }

   .pagedjs_page {
    background: white;
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    margin: 1rem;
  }

}

