/* Import external dependencies first  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('./markdown.css');

/* Optional tailwind set up */
@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown h1, 
.markdown h2, 
.markdown h3, 
.markdown h4,
.markdown h5 { @apply pb-3; }

.markdown h1 { @apply text-3xl; } 
.markdown h2 { @apply text-2xl; }
.markdown h3 { @apply text-base font-medium; }
.markdown h4 { @apply text-base font-medium; }
.markdown p, .markdown ul { @apply pb-8; }

/* markdown-table.css */
.markdown table {
  @apply table-auto w-full text-left border-collapse;
}

.markdown table th {
  @apply bg-gray-200 p-2 border border-gray-300 font-semibold;
}

.markdown table td {
  @apply p-2 border border-gray-300;
}

.markdown table tr:nth-child(even) {
  @apply bg-gray-100;
}

